<!-- Burger-Icon -->
<div
  id="burger-menu"
  class="burger"
  (click)="toggleMenu()"
  [class.active]="menuOpen"
>
  <span></span>
  <span></span>
  <span></span>
</div>

<!-- Navigation -->
<nav id="nav-menu" [class.active]="menuOpen">
  <ul>
    <li><a href="#hero" (click)="closeMenu()">Hero</a></li>
    <li><a href="#about" (click)="closeMenu()">About me</a></li>
    <li><a href="#cv" (click)="closeMenu()">CV</a></li>
    <li><a href="#projects" (click)="closeMenu()">Projects</a></li>
    <li><a href="#contact" (click)="closeMenu()">Contact</a></li>
  </ul>
</nav>
