<section class="about-me">
  <h1 class="section-title">About Me</h1>
  <p class="section-subtitle">A brief introduction to who I am.</p>

  <div class="profile-card">
    <img
      src="./src/app/about-me/Bewerbungsfoto.jpg"
      alt="Profile Picture"
      class="profile-picture"
    />
    <div class="profile-details">
      <ul class="profile-info">
        <li><strong>Name:</strong> Noah Kiefer</li>
        <li><strong>Date of Birth:</strong> January 1, 1995</li>
        <li><strong>Location:</strong> Switzerland</li>
        <li><strong>Profession:</strong> Software Developer</li>
      </ul>
    </div>
  </div>
</section>
