<div class="switch-container">
  <label class="switch">
    <input type="checkbox" id="darkModeSwitch" />
    <span class="slider"></span>
  </label>
</div>

<!-- Dein bestehendes HTML -->
<app-header></app-header>

<section id="hero">
  <app-hero></app-hero>
</section>

<section id="about">
  <app-about-me></app-about-me>
</section>

<section id="cv">
  <app-cv></app-cv>
</section>

<section id="projects">
  <app-projects></app-projects>
</section>

<section id="contact">
  <app-contact></app-contact>
</section>

<app-footer></app-footer>
