html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color) !important;
}

section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

section:not(:first-child) {
  opacity: 0.5;
  transform: translateY(50px);
}

section.in-view {
  opacity: 1;
  transform: translateY(0);
}
